@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animation-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.costum-list {
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}
.list:hover {
  color: #dab88a;
  background: transparent;
  box-shadow: none;
}
.list:before,
.list:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #dab88a;
  transition: 400ms ease all;
}
.list:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.list:hover:after {
  width: 100%;
  transition: 400ms ease all;
}

.slick-slide > div {
  margin: 0 10px;
}

.category-card {
  background-image: url("./assets/images/blue_view.jpg");
}

.opacity-img:hover img {
  opacity: 0.9;
}

.card-item {
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.01), 0px 2px 2px rgba(0, 0, 0, 0.04),
    0px 1px 1px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.07),
    0px 0px 0px rgba(0, 0, 0, 0.07);
  transition: all 0.08s ease-in-out;
}

.card-item:hover {
  transform: translateY(-5px);
}

.item-img {
  border-radius: 6px 6px 0 0;
}

/* select input */
.dropdown-select-inner__single-value {
  transition: all 0.3s ease-in-out;
}

.dropdown-select-inner__control {
  border-color: #dab88a !important;
  width: 100%;
}

.input-error.dropdown-select-inner__control {
  border-color: #ff004d !important;
}

.dropdown-select-inner__control--menu-is-open
  .dropdown-select-inner__single-value {
  color: #e0e0e0 !important;
}

.dropdown-select {
  position: relative;
  padding-bottom: 0;
  height: 90%;
}

.dropdown-select .dropdown-select-inner {
  position: relative;
  height: 100%;
  border-radius: 8px;
}

.dropdown-select .dropdown-select-inner__control:hover,
.dropdown-select .dropdown-select-inner__control:focus,
.dropdown-select .dropdown-select-inner__control--menu-is-open {
  box-shadow: none !important;
}

.dropdown-select .dropdown-select-inner__control--menu-is-open {
  outline: none;
}

.dropdown-select
  .dropdown-select-inner__control--is-focused
  ~ .dropdown-select
  .dropdown-select-inner__control--is-focused {
  border-color: #ff004d !important;
}

.dropdown-select .dropdown-select-inner__indicator-separator {
  display: none;
}

.dropdown-select .dropdown-select-inner__menu {
  position: absolute;
  overflow: hidden;
  margin-top: 6px;
  right: 0;
  z-index: 30;
  border-radius: 8px;
}

.dropdown-select .dropdown-select-inner__menu-list {
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-select .dropdown-select-inner__option {
  padding: 8px 12px;
  border-bottom: 1px solid #cccccc;
}

.dropdown-select .dropdown-select-inner__option:hover,
.dropdown-select .dropdown-select-inner__option:focus,
.dropdown-select .dropdown-select-inner__option--is-focused {
  background-color: #f5f5f5 !important;
  color: inherit;
}

.dropdown-select .dropdown-select-inner__option--is-focused {
  outline: none !important;
}

.dropdown-select .dropdown-select-inner__option:hover,
.dropdown-select .dropdown-select-inner__option:focus,
.dropdown-select .dropdown-select-inner__option--is-selected {
  background-color: #f5f5f5 !important;
  color: inherit;
}

.dropdown-select .dropdown-select-inner__option--is-selected {
  outline: none;
}

.dropdown-select .dropdown-select-inner__option:last-child {
  border-bottom: none;
}

.dropdown-select .dropdown-select-inner__option-container {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 12px;
}

.input-error.dropdown-select-inner__control {
  border-color: #ff004d !important;
  color: #ff004d !important;
}

@media (min-width: 950px) {
  .dropdown-select {
    font-size: 16px;
  }
}
@media (min-width: 320px) {
  .dropdown-select {
    font-size: 14px;
  }
}
/* select input */

.slider-image div {
  margin: 0 !important;
}

h2.frame-5 {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
  color: transparent;
  text-shadow: 0px 0px 1px #fff;
}
h1.frame-5 {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
  color: transparent;
  text-shadow: 0px 0px 1px #fff;
}
h1.frame-5 span {
  -webkit-animation: blurFadeIn 1s ease-in 3000ms backwards;
  -moz-animation: blurFadeIn 1s ease-in 3000ms backwards;
  -ms-animation: blurFadeIn 1s ease-in 3000ms backwards;
  animation: blurFadeIn 1s ease-in 3000ms backwards;
  color: #fff;
  text-shadow: 0px 0px 1px #fff;
}
h2.frame-5 span {
  -webkit-animation: blurFadeIn 1s ease-in 5s backwards;
  -moz-animation: blurFadeIn 1s ease-in 5s backwards;
  -ms-animation: blurFadeIn 1s ease-in 5s backwards;
  animation: blurFadeIn 1s ease-in 5s backwards;
  color: #fff;
  text-shadow: 0px 0px 1px #fff;
}
h2.frame-5 span:nth-child(1) {
  -webkit-animation-delay: 1000ms;
  -moz-animation-delay: 1000ms;
  -ms-animation-delay: 1000ms;
  animation-delay: 1000ms;
}
h2.frame-5 span:nth-child(2) {
  -webkit-animation-delay: 1500ms;
  -moz-animation-delay: 1500ms;
  -ms-animation-delay: 1500ms;
  animation-delay: 1500ms;
}
h2.frame-5 span:nth-child(3) {
  -webkit-animation-delay: 2000ms;
  -moz-animation-delay: 2000ms;
  -ms-animation-delay: 2000ms;
  animation-delay: 2000ms;
}
h2.frame-5 span:nth-child(4) {
  -webkit-animation-delay: 2500ms;
  -moz-animation-delay: 2500ms;
  -ms-animation-delay: 2500ms;
  animation-delay: 2500ms;
}
/**/
@-webkit-keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -webkit-transform: scale(1.3);
  }
  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 10px #fff;
    -webkit-transform: scale(1.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -webkit-transform: scale(1);
  }
}
/**/
@-moz-keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -moz-transform: scale(1.3);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -moz-transform: scale(1);
  }
}
/**/
@keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(1.3);
  }
  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 10px #fff;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(1);
  }
}

/* menu */
.burger {
  position: sticky;
}
.burger.open {
  position: fixed;
}
.menu {
  position: fixed;
}

.burger {
  z-index: 5;
  top: 0.5rem;
  right: 0;
  display: grid;
  place-items: center;
}

.background {
  position: fixed;
  z-index: 2;
  top: 0px;
  right: 0px;
  aspect-ratio: 1 / 1;
  translate: 50% -50%;
  height: 88px;
  background: #07030a;
  border-radius: 50%;
  opacity: 0;
  transition: 0.6s;
}

.background.open {
  height: 300vh;
  opacity: 0.85;
  padding-right: 2rem;
}

.menu {
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.05s;
}

.menu li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 100px;
}

.menu.open {
  position: fixed;
  opacity: 1;
  visibility: visible;
  margin-top: 3rem;
}

body .menu ul li:hover > a {
  opacity: 0.25;
}

body .menu ul li > a:hover {
  opacity: 1;
}

.menu li a {
  color: #f9f9f9;
  opacity: 0;
  transition: 0.4s;
  margin-right: 1rem;
  padding-bottom: 0.5rem;
}

.menu.open li a {
  opacity: 1;
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: 0 30px;
  }
  100% {
    opacity: 1;
  }
}

.appear {
  animation: appear 0.35s backwards;
}
/* menu */

/* popup */

/* popup */
